{% extends 'base.html.twig' %}

{% block title %}Klant index{% endblock %}

{% block body %}
    <h1>Klant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Voornaam</th>
                <th>Achternaam</th>
                <th>Prefix</th>
                <th>Straat</th>
                <th>Huisnummer</th>
                <th>Postcode</th>
                <th>Plaats</th>
                <th>Telefoonnummer</th>
                <th>Email</th>
                <th>acties</th>
            </tr>
        </thead>
        <tbody>
        {% for costumer in costumers %}
            <tr>
                <td>{{ costumer.id }}</td>
                <td>{{ costumer.firstname }}</td>
                <td>{{ costumer.lastname }}</td>
                <td>{{ costumer.prefix }}</td>
                <td>{{ costumer.street }}</td>
                <td>{{ costumer.housenumber }}</td>
                <td>{{ costumer.postalcode }}</td>
                <td>{{ costumer.city }}</td>
                <td>{{ costumer.phone }}</td>
                <td>{{ costumer.email }}</td>
                <td>
                    <a href="{{ path('costumer_show', {'id': costumer.id}) }}">Bekijken</a>
                    <a href="{{ path('costumer_edit', {'id': costumer.id}) }}">Aanpassen</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Geen records gevonden</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('costumer_new') }}">Creëer nieuw</a>
{% endblock %}
