{% extends 'base.html.twig' %}

{% block title %}Onderhoud index{% endblock %}

{% block body %}
    <h1>Onderhoud index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titel</th>
                <th>Omschrijving</th>
                <th>Duur</th>
                <th>Prijs</th>
                <th>acties</th>
            </tr>
        </thead>
        <tbody>
        {% for maintenance in maintenances %}
            <tr>
                <td>{{ maintenance.id }}</td>
                <td>{{ maintenance.title }}</td>
                <td>{{ maintenance.description }}</td>
                <td>{{ maintenance.duration }}</td>
                <td>{{ maintenance.price }}</td>
                <td>
                    <a href="{{ path('maintenance_show', {'id': maintenance.id}) }}">Bekijken</a>
                    <a href="{{ path('maintenance_edit', {'id': maintenance.id}) }}">Aanpassen</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Geen records gevonden</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('maintenance_new') }}">Creëer nieuw</a>
{% endblock %}
